# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/

# env

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store

/android
/ios
/build
/dist
/node_modules

# Ignored large files and secrets
*.apk
/app-files
# google-services.json

# Desktop Signing Keys
**/desktop/src-tauri/keys/
config.bat
